{% load static %}

<head>
    <h1>Activity</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'papaparse.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <style>
        h1, p {
            font-family: arial, sans-serif;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>CNAE</th>
        <th>Peso</th>
    </tr>


    {% for measure in object_list %}
        <tr>
            <td>{{ measure.cnae }}</td>
            <td>{{ measure.peso }}</td>

        </tr>
    {% empty %}
        <p>No articles yet.</p>
    {% endfor %}


</table>
<h5><a href="{% url 'treatment_plants:greentech_create' %}"> <input type="submit" value="Add measures"></a>

    <a href="upload"><input type="file" id="csv-file" name="files"/></a>
    <script>


        function handleFileSelect(evt) {
            var file = evt.target.files[0];

            Papa.parse(file, {
                header: true,
                dynamicTyping: true,
                complete: function (results) {
                    console.log(results.data.length)
                    console.log(results)
                    console.log(JSON.stringify(results))
                    $.ajax({
                            method: 'post',
                            url: "{% url 'treatment_plants:greentech_upload' %}",
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                valores: JSON.stringify(results.data)
                            },
                        },
                    )
                }
            });

        }

        $(document).ready(function () {
            $("#csv-file").change(handleFileSelect);
        });
    </script>
</h5>
</body>
