{% load static %}

<head>
    <style>

    h1, p {
    font-family: arial, sans-serif;
}

}
</style>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
    $( "#id_date" ).datepicker();
  } );
</script>
</head>
<body>


<form method="post">{% csrf_token %}

    <p><label for="id_date"> Date: </label>{{ form.date }}</p>
    <p><label for="id_weight_hfw_morning">Weight of HFW (kg)(MORNING):</label>{{ form.weight_hfw_morning }}</p>
    <p><label for="id_weight_forbi_morning">Weight of FORBI (kg) (MORNING):</label>{{ form.weight_forbi_morning }}</p>
    <p><label for="id_electricity_ci_start_morning">Electricity counter index (start of every cycle) (kW)(MORNING):</label>{{ form.electricity_ci_start_morning }}</p>
    <p><label for="id_electricity_ci_end_morning">Electricity counter index (end of every cycle) (kW)(MORNING):</label>{{ form.electricity_ci_end_morning }}</p>
    <p><label for="id_energy_consumption_morning">Energy consumption (kW) (MORNING):</label>{{ form.energy_consumption_morning }}</p>
    <p><label for="id_weight_hfw_afternoon">Weight of HFW (kg)(AFTERNOON)</label>{{ form.weight_hfw_afternoon }}</p>
    <p><label for="id_weight_forbi_afternoon">Weight of FORBI (kg) (AFTERNOON):</label>{{ form.weight_forbi_afternoon }}</p>
    <p><label for="id_electricity_ci_start_afternoon">Electricity counter index (start of every cycle) (kW)(AFTERNOON):</label>{{ form.electricity_ci_start_afternoon }}</p>
    <p><label for="id_electricity_ci_end_afternoon">Electricity counter index (end of every cycle) (kW)(AFTERNOON):</label>{{ form.electricity_ci_end_afternoon }}</p>
    <p><label for="id_energy_consumption_afternoon">Energy consumption (kW) (AFTERNOON):</label>{{ form.energy_consumption_afternoon }}</p>


    <h5><input type="submit" value="Save"></h5>
</form>
</body>